@import "../../font.styles";

$color-lemon: #f2e205;

.header {
  min-height: 710px;
  position: relative;

  h3 {
    margin: 0 0 0 0;
  }

  h5 {
    margin: 80px 0 0 0;
    max-width: 655px;
  }

  .header-info {
    background-color: $color-lemon;
    border-radius: 0 36px 36px 0;
    padding: 45px 0 0 83px;
    max-width: 1280px;
    min-height: 535px;
  }

  .image-lemon {
    transition: all 1s ease-in-out;
    position: absolute;
    top: 110px;
    right: 218px;
    height: 504px;
  }
}

@media (max-width: 1700px) {
  .image-lemon {
    right: 118px;
  }
}

@media (max-width: 1550px) {
  .header {
    .header-info {
      width: 90%;
      padding: 45px 20px 20px 83px;
    }

    .image-lemon {
      display: none;
    }
  }
}

@media (max-width: 999px) {
  .header {
    min-height: auto;

    h3 {
      margin: 0 0 0 0;
    }

    h5 {
      margin: 80px 0 0 0;
      max-width: none;
    }

    .header-info {
      width: 95%;
      padding: 30px;
      min-height: 335px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media (max-width: 639px) {
  .header {
    min-height: auto;

    h3 {
      margin: 0 0 0 0;
    }

    h5 {
      margin: 80px 0 0 0;
      max-width: 300px;
    }

    .header-info {
      width: 95%;
      padding: 20px;
      min-height: 335px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
