.reason-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  .reason-header {
    max-width: 820px;
    // margin-bottom: 145px;
  }
  .reason-info {
    margin: 145px 0 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 385px;

    .reason-wrapper {
      position: relative;
      width: 250px;
      height: 300px;

      &:nth-child(even) {
        align-self: flex-end;
      }
      .reason-item {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #fa7070;
        background: #fa7070;
        box-shadow: 10px 10px 20px rgba(250, 112, 112, 0.5);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        z-index: 2;

        p {
          text-align: center;
          font-weight: 700;
          line-height: 36px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #fafafa;
        }
      }
      .reason-img {
        position: absolute;
        z-index: 1;

        &.top {
          bottom: 75%;
        }
        &.bottom {
          top: 62%;
        }
        &.right {
          left: 72%;
        }
        &.left {
          right: 78%;
        }
      }
    }
  }

  .reason-person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 735px;

    h2 {
      font-weight: 700;
      font-size: 96px;
      line-height: 107px;
      color: #3a3a3a;
    }
  }
}
